<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<link rel="stylesheet" href="assets/css/bootstrap.css" >
<link rel="stylesheet" href="assets/css/style.css">

<link rel="shortcut icon" href="assets/img/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body class="{{ page.bodyclass }}">
<a href="https://github.com/matthojo/Ghost-Services"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<header>
	<figure class="logo">
	  <img src="assets/img/Ghost-Logo.png" />
	</figure>
	<p>
	To get your Web Hosting service on this list, fork this <a href="https://github.com/matthojo/Ghost-Services">Repository</a>, modify 'services.json', and then submit a Pull Request.
	</p>

	<p class="note"><strong>PLEASE DO CHECK THAT THE SERVICE IS SAFE AND RELIABLE BEFORE SIGNING UP AND USING IT.</strong></p>
</header>
<main id="main" role="main">
    {{ content }}
</main>

<footer class="footer">
  <p>Released under the <a href="http://tryghost.org/about/license.html">MIT</a> License..</p>
</footer>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/handlebars.js"></script>
<script src="assets/js/main.js"></script>
<!-- So I can see how useful this is. -->
<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-131234-B";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>


</body>
</html>
